/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --accent-color: #ff0070;
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --header-title-color: #db00ff;
  --header-title-shadow: #ff0070;
  --page-title-color: #000028;
  --page-title-bg: #ff0070;
  --paragraph-page-color: #ff0070;
  --text-page-color: #f1b2ce;
  --page-font-family: 'IBM Plex mono', monospace;
  --btn-color: #ff0070;
  --decorated-color: #ff0070;
  --btn-hover-color: rgb(255, 0, 112, 0.5);
}
