/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-color: #ff8dcb;
  --page-bg-color: #fff1f7;
  --page-bg-image: url(../images/cover-image-light.png);
  --header-title-color: #ffc2e6;
  --header-title-shadow: #ff0070;
  --page-title-color: #353430;
  --page-title-bg: #ff8dcb;
  --paragraph-page-color: #353430;
  --text-page-color: #353430;
  --page-font-family: 'IBM Plex mono', monospace;
  --btn-color: #353430;
  --decorated-color: #353430;
  --btn-hover-color: rgb(50, 49, 45, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --page-bg-color: #fff1f7;
    --page-bg-image: url(../images/cover-image-light.png);
    --header-title-color: #ffc2e6;
    --header-title-shadow: #ff0070;
    --page-title-color: #353430;
    --page-title-bg: #ff8dcb;
    --paragraph-page-color: #353430;
    --text-page-color: #353430;
    --page-font-family: 'IBM Plex mono', monospace;
    --btn-color: #353430;
    --decorated-color: #353430;
    --btn-hover-color: rgb(50, 49, 45, 0.5);
  } /* Дублируем переменные светлой темы */

  .rec-decor {
    display: none;
  }
}

.theme_light .rec-decor {
  display: none;
}
