/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --header-title-color: #db00ff;
  --header-title-shadow: #ff0070;
  --page-title-color: #000028;
  --page-title-bg: #ff0070;
  --paragraph-page-color: #ff0070;
  --text-page-color: #f1b2ce;
  --page-font-family: 'IBM Plex mono', monospace;
  --btn-color: #ff0070;
  --decorated-color: #ff0070;
  --btn-hover-color: rgb(255, 0, 112, 0.4);

/* Для планшета и десктопа */
  --page-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --header-title-line-height: clamp(6.1875rem, 0.375rem + 12.1094vw, 8.125rem);
}